@mixin TaskInput
  border: none
  display: block
  font-size: inherit
  outline: none
  font-family: inherit
  background-color: transparent

@mixin TransparentButton
  background: none
  border: none
  visibility: hidden
  font-size: 1em
  cursor: pointer

  
body
  background-color: black

.TodoList
  max-width: 600px
  margin-left: auto
  margin-right: auto
  padding: 25px
  font-size: 12px
  font-family: monospace
  background-color: white
  h2
    text-decoration: underline
    margin-left: 100px


.TaskView
  display: flex
  align-items: baseline
  flex-direction: row
  justify-content: stretch
  margin-bottom: .5em
  button.snooze, button.DeleteTaskButton
    @include TransparentButton
  &:hover 
    button.snooze, button.DeleteTaskButton
      visibility: visible

    
  input.TaskViewTickbox
    font-size: inherit
    height: 1em
    margin-right: 20px
    cursor: pointer

  div.TaskContent
    display: flex
    flex-direction: column
    align-items: stretch
    flex-grow: 1
    input.TaskViewMessage
      width: 100%
      @include TaskInput
    p.stats
      font-size: 8px
      margin: 0px
      svg
        vertical-align: middle
        font-size: 1.3em
        margin-right: .3em

  transition: border-color 1s
  border: 1px solid transparent
  &:focus-within
    border: 1px solid #eee

  &.completed
    input.TaskViewMessage
      text-decoration: line-through


.AddTask
  display: flex
  input.AddTaskMessage
    @include TaskInput
    flex-grow: 1
    border: none
    border-bottom: 1px solid black
    margin-left: 100px
    //display: block
    //margin-left: 50px
    width: calc(100% - 50px)
    box-sizing: border-box
    font-size: inherit
    outline: none
    &::placeholder
      color: black
  .AutoEmoji
    display: inline-block
    float: right
    width: 1em
    height: 1em

.SnoozeBox
  position: relative
  display: flex
  align-items: center
  .SnoozeBoxMessage
    @include TaskInput
  .Suggestions
    position: absolute
    top: 100%
    left: 1em
    background-color: #eee
    >li
      display: block
      width: 400px
